<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>wordWrap</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css"
        href="/stylesheets/style.css">
</head>

<body>
    <div class="ui inverted menu">
        <div class="ui container">
            <a class="header item" href="/">
                <i class="big envelope outline icon"></i>
                wordWrap
            </a>
            <a class="item">
                Messages
            </a>
            <a class="item">
                Friends
            </a>
            <div class="right menu">
                <a href="/blogs/new" class="ui item">
                    New
                </a>
                <a class="ui item">
                    Logout
                </a>
            </div>
        </div>
    </div>