#delete{
    display:inline;
}
#author{
    /* display:inline; */
    text-align: right;
}
#content{
    text-align: right;
}
/* #show_image{
    height: 50vh;
} */
.card{
    margin-bottom:20px;
}
.blog-img{
    height:300px;
}
.nav-item{
    font-size: 20px;
}